.button{
    z-index: 0;
    background-color: rgba(165, 42, 42, 0);
position: absolute;
width: 300px;
height:625px;
border: 0ch;


}



/* script{
    z-index: 2;
} */

body{

    background-color: rgb(0,43,16);

    margin-top: 10%;
    /* background-color: 0,43,16;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center; */

    -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
 @media only screen and (min-width: 200px) {
    .grid {
        height: 1vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
  } */

 .grid {

    height: 1vh;
    width: 10vw;    
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

} 

.img1 {
    width: 100%;

    display: flex;
   
margin-top: 0%;
    background-color: rgb(0,43,16);
    align-items: center;
    justify-content: center;
}

.img2 {
    width: 100%;
    display: flex;
  

    background-color: rgb(0,43,16);
    align-items: center;
    justify-content: center;
}


.img_place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .img_bol {
    /* width: 400px; */
    /* width: 90vw; */
/* }  */

.chef {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    height: 10vh;
    background-color: rgb(0,43,16);
    margin-top: 30px;
}

.logo {
    height: 100px;
    width: auto;
}

.defaulCanvas0{
    width: 10%;
}
.defaulCanvas1{
    width: 100%;
}